<a href="https://colab.research.google.com/github/brunomoraisnc/into-to-data-science-ifb/blob/master/3_16_Exerc%C3%ADcio_de_imputa%C3%A7%C3%A3o_BRUNO_MORAIS_NEVES_DE_CASTRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 3.16 - Exercício de imputação (enviar pelo Canvas)

In [0]:
import pandas as pd
import numpy as np

def imputation(filename):
    # Os dataframes do Pandas possuem um método chamado 'fillna(value)', que 
    # permite que seja passado um valor único para substituir qualquer NAs no
    # dataframe ou na série. Exemplo:
    #     dataframe['column'] = dataframe['column'].fillna(value)
    #
    # Usando a função numpy.mean, que calcula a média de um array, faça a 
    # imputação mais simples dos valores faltantes da coluna 'weight' do conjunto
    # de dados Lahman baseball.

    baseball = pandas.read_csv(filename)
    
    baseball['weight'] = baseball['weight'].fillna(np.mean(baseball['weight']))

    return baseball

In [0]:
imputation('Master.csv').iloc[:,20:25]

                              nameNick      weight  height bats throws
0      Hammer,Hammerin' Hank,Bad Henry  180.000000    72.0    R      R
1                                  NaN  190.000000    75.0    R      R
2                                  NaN  190.000000    75.0    R      R
3                                  NaN  184.000000    73.0    L      L
4                                  NaN  192.000000    72.0    R      R
5                                Batty  170.000000    71.0    R      R
6                                  NaN  175.000000    71.0    R      R
7                                  NaN  169.000000    68.0    L    NaN
8                              Big Dan  190.000000    71.0    R      R
9                                  NaN  180.000000    70.0    R      R
10                                 NaN  200.000000    78.0    R      R
11                                 NaN  190.000000    74.0    R      L
12                                 NaN  200.000000    75.0    L      L
13                                 NaN  180.000000    71.0    R      R
14                                 NaN  200.000000    76.0    L      L
15                                 NaN  180.000000    74.0    R      R
16                                 NaN  185.000000    75.0    R      R
17                               Lefty  195.000000    74.0    L      L
18                                 NaN  184.705431     NaN  NaN    NaN
19                                 NaN  190.000000    70.0    R      R
20                                 NaN  185.000000    73.0    R      R
21                                 NaN  210.000000    74.0    R      L
22                                 NaN  215.000000    76.0    R      R
23                                 NaN  170.000000    72.0    L      L
24                                 Kif  200.000000    72.0    R      R
25                                Hans  200.000000    74.0    R      L
26                                 NaN  190.000000    73.0    R      R
27                                Abie  185.000000    72.0    L      L
28                                 NaN  170.000000    69.0    R      R
29                                 NaN  185.000000    72.0    R      R
...                                ...         ...     ...  ...    ...
18095                              NaN  210.000000    70.0    R      R
18096                              NaN  185.000000    73.0    L      R
18097                              NaN  225.000000    74.0    R      R
18098                              NaN  195.000000    75.0    R      R
18099                              NaN  225.000000    73.0    R      R
18100                              NaN  185.000000    72.0    R      R
18101                              NaN  200.000000    71.0    R      R
18102                              NaN  200.000000    76.0    L      L
18103                              NaN  215.000000    75.0    L      L
18104                              NaN  220.000000    74.0    L      R
18105                              NaN  220.000000    75.0    L      R
18106                              NaN  220.000000    75.0    R      R
18107                              NaN  200.000000    72.0    L      R
18108                              NaN  175.000000    72.0    R      R
18109                              NaN  210.000000    76.0    R      R
18110                              NaN  190.000000    73.0    R      R
18111                              NaN  195.000000    73.0    B      R
18112                              NaN  185.000000    74.0    R      R
18113                              NaN  190.000000    72.0    R      R
18114                              NaN  195.000000    74.0    R      L
18115                              NaN  160.000000    71.0    L      R
18116                              NaN  180.000000    72.0    R      R
18117                              NaN  190.000000    71.0    R      R
18118                              NaN  184.705431     NaN  NaN    NaN
18119                              NaN  184.705431     NaN  NaN    NaN
18120                              NaN  184.705431     NaN  NaN    NaN
18121                              NaN  184.705431     NaN  NaN    NaN
18122                              NaN  184.705431     NaN  NaN    NaN
18123                              NaN  184.705431     NaN  NaN    NaN
18124                              NaN  184.705431     NaN  NaN    NaN

[18125 rows x 5 columns]